@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.img-handle {
  background: rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(900px);
}

.bg-wrapper {
  background-color: transparent;
  opacity: 0.8;
  background-image: radial-gradient(rgba(225,225,225,0.1) 2px, transparent 2px), radial-gradient(rgba(225,225,225,0.3) 2px, transparent 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

.bg-sponsorship{
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}